@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@import "tailwindcss";

@theme {
  --color-bg: white;
  --color-text: #111827;
}

.dark {
  --color-bg: #0b0f19;
  --color-text: #f3f4f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --animate-scroll: scroll 15s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}
@media print {
  nav,
  header,
  footer {
    display: none !important;
  }

  body {
    margin: 0;
  }

  #cv-content {
    margin: 0 !important;
    padding: 0 !important;
  }
}